<div style="padding-top: 20px; padding-bottom: 50px; padding-left: 50px; padding-right: 50px;">
<div  class="container">
<h2 class="heading">Electronic Reservation Slip(ERS)</h2>
<div style="text-align: center; padding-bottom: 10px;">
    <img src="../assets/irctclogo.png" style="width: auto; height: 100px; border-radius: 50%;">
</div>

<img src="../assets/qr.png" alt="QR Code" class="qr-code">


<table>
    <thead>
        <th><h3>Booking from</h3></th>
        <th><img src="../assets/arrow.png" alt="Iarrow" style="width: 300px; height: 30px;"></th>
        <th><h3>To</h3></th>
    </thead>
    <tbody>
        <td><h3 style="color: blue;">{{train.source}}</h3><p >10:55 AM</p></td>
        <td></td>
        <td><h3 style="color: blue;">{{train.destination}}</h3><p>13:30 PM</p></td>
    </tbody>
</table>
<h4>PNR Number: {{train.seatNumber}}546{{train.seatNumber}}</h4>

<h2 style="color: green;">Passenger Details:</h2>
<table class="custom-table">
    <thead>
        <th><h3>Name</h3></th>
        <th><h3>Age</h3></th>
        <th><h3>Seat Number</h3></th>
        <th><h3>Berth Number</h3></th>
        <th><h3>Coach</h3></th>
    </thead>
    <tbody>
        <td>{{train.pName}}</td>
        <td>{{train.age}}</td>
        <td>{{train.seatNumber}}</td>
        <td>{{train.birthPreference}}</td>
        <td>{{train.coach}}</td>
    </tbody>
</table>
<h4>Train Name: </h4><p style="color: green;">{{train.trainName}}</p>
<h4>Date of Journey:</h4><p style="color: green;"> {{format(train.dateOfJourney)}}</p>
<div>

    <h3>Payment details:</h3>
    <table class="custom-table">
        <thead>
            <th><h3>Payment Status</h3></th>
            <th><h3>Ticket Cost</h3></th>
            
        </thead>
        <tbody>
            <td>{{payment.payStatus}}</td>
            <td>{{payment.payAmount}}</td>
            
        </tbody>
    </table>



<h2>Customer Care:</h2>
<li>
    For e-ticket booking , cancellation and refund assistance ,
     please contact us at 14646 or mail us at mygov.in.</li>
    <li>For Railway Enquiry ,please contact us at 139 or SMS RAIL 
    at 139.</li>
    <li>For e-catering , to book and get food delivered on your train berth , please contact us at 1323 (24*7 Hrs Toll Free) or log on 
    to www.ecatering.irctc.co.in.</li>
</div><br>
<img src="../assets/hf.jpeg" style="width: 100%; height: auto;">

</div>
</div>
<!-- <table>
    <thead>
        <tr>
            <th>Seat Number</th>
            <th>Train Number</th>
            <th>Train Name</th>
            <th>Journey Date</th>
            <th>Passenger Name</th>
            <th>Passenger Age</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Coach</th>
            <th>Birth Preference</th>
        </tr>
    </thead>
    <tbody>
            <td>{{train.seatNumber}}</td>
            <td>{{train.trainNumber}}</td>
            <td>{{train.trainName}}</td>
            <td>{{train.dateOfJourney}}</td>
            <td>{{train.pName}}</td>
            <td>{{train.age}}</td>
            <td>{{train.source}}</td>
            <td>{{train.destination}}</td>
            <td>{{train.coach}}</td>
            <td>{{train.birthPreference}}</td>
    </tbody>
</table> -->
