<h1 class="head">Reset Password</h1>

<form (ngSubmit)="onSubmit()" #signupForm="ngForm" class="signup-form">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" [(ngModel)]="person.email" name="email" required>
    </div>

    <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="person.password" name="password" required>
    </div>

    <button type="submit" class="submit-button" [disabled]="!signupForm.form.valid">Submit</button>
</form>